pkgbase = ryujinx-git
	pkgdesc = Experimental Nintendo Switch Emulator written in C#
	pkgver = 1.2.423.r33
	pkgrel = 1
	url = https://github.com/hummeltech/Ryujinx
	arch = x86_64
	license = MIT
	makedepends = chrpath
	makedepends = git
	makedepends = desktop-file-utils
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = sh
	depends = zlib
	provides = ryujinx
	conflicts = ryujinx
	noextract = dotnet-sdk-linux-x64.tar.gz
	options = !strip
	options = !debug
	source = ryujinx-git::git+file:///home/dhummel/Desktop/Workspace/Personal/Ryujinx/packaging/..
	source = dotnet-sdk-linux-x64.tar.gz::https://dotnetcli.azureedge.net/dotnet/Sdk/9.0.100/dotnet-sdk-9.0.100-linux-x64.tar.gz
	sha256sums = SKIP
	sha256sums = 4c971ac80615faa806de82f0ab3073e50aebb402b79ac265ab97765c9a29ed56

pkgname = ryujinx-git
